@charset "utf-8";
@import "variables.scss";

.maker {
  &-header {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #eee;

    &--menu {
      height: 100%;
      display: flex;
      margin: 0;

      &.right {
        .item {
          .icon {
            border-right: none;
            border-left: 1px solid #eee;
          }
        }
      }

      .item {
        height: 100%;

        .icon {
          width: 100px;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          background-repeat: no-repeat;
          background-position: 50% 34%;
          border-right: 1px solid #eee;
          padding-top: 37px;
          font-size: 1.2rem;

          @for $i from 1 to 10 {
            &-#{$i} {
              background-image:url(~/static/images/icon/menu_#{$i}.png);
            }
          }
        }

        &.active {
          .icon {
            background-color: #2f2f2f;

            &-txt {
              color: $colSub;
            }

            @for $i from 1 to 10 {
              &-#{$i} {
                background-image:url(~/static/images/icon/menu_#{$i}_active.png);
              }
            }
          }
        }
      }
    }
  }

  &-wrap {
    display: flex;
    min-height: calc(100vh - 80px);
  }

  &-left {
    background-color: #2f2f2f;
    width: 240px;
    height: calc(100vh - 80px);
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #555;
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
    }

    .scenario,
    .chapter {
      &-modi {
        width: 20px;
        height: 20px;
        background: url(~/static/images/icon/pen.svg)no-repeat center;
        display: inline-block;
        vertical-align: middle;
        opacity: 0;
        margin:0 2px;
      }
      &-sound {
        width: 20px;
        height: 20px;
        background: url(~/static/images/icon/sound_wh.svg)no-repeat center / 13px;
        display: inline-block;
        vertical-align: middle;
        opacity: 0;
      }

      &-del {
        width: 16px;
        height: 16px;
        background: url(~/static/images/icon/delete.svg)no-repeat center;
        position: absolute;
        right: 17px;
        top: 10px;
        opacity: 0;
      }

      &-input {
        background-color: #fff;
        padding: 3px 10px;
        font-size: 1.2rem;
        outline: none;
        width: 150px;
        border-radius: 5px;
        position: absolute;
        left: 20px;
        top: 5px;
      }
    }

    .scenario {
      &-list {
        &--item {
          position: relative;
          border-bottom: 1px solid #3f3f3f;

          &.active {
            .scenario-tit {
              color: $colSub;
              background-color: #1E1D1D;
            }
          }
        }

        &--toggle {
          position: absolute;
          right: 15px;
          top: 8px;
          width: 20px;
          height: 20px;
          background: url(~/static/images/icon/arrow.svg)no-repeat center;

          &.active {
            transform: rotate(180deg);
          }
        }
      }

      &-tit {
        display: block;
        padding: 8px 5px 8px 20px;
        font-size: 1.2rem;
        color:#fff;
        min-height: 32px;
        display: flex;
        align-items: center;
        .text{
          display:inline-block;
          vertical-align: middle;
          max-width: 120px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          color: #fff;
        }

        &:hover {

          .scenario-modi,
          .chapter-add,
          .scenario-del {
            opacity: 1;
          }
        }
      }

      &-add {
        width: 27px;
        height: 27px;
        background: url(~/static/images/icon/add.svg)no-repeat center;
        margin: 10px auto;
        display: block;
      }

      &-del {
        right: 40px;
      }
    }

    .chapter {
      &-list {
        border-top: 1px solid #3f3f3f;

        &--item {
          position: relative;
        }
      }

      &-tit {
        display: flex;
        padding: 8px 40px 7px;
        font-size: 1.2rem;
        color: #fff;
        position:relative;
        label{
          margin-bottom: 0;
          span{
            display:inline-block;
            vertical-align: middle;
            max-width: 110px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: #fff;
            cursor: pointer;
          }
          input[type=radio]:checked ~ .arrow{
            display:block;
            width:0;
            height:0;
            border-bottom: 10px solid transparent;
            border-top: 10px solid transparent;
            border-left: 10px solid transparent;
            border-right: 10px solid #1d1d1d;
            position:absolute;
            right:0;
            top:8px;
          }
        }

        &:hover {
          background-color: #3f3f3f;

          .chapter-modi,
          .chapter-del,
          .chapter-sound {
            opacity: 1;
          }
        }
      }

      &-input {
        left: 40px;
        top: 5px;
      }

      &-add {
        font-size: 1.8rem;
        line-height: 1;
        vertical-align: middle;
        opacity: 0;
        color: #fff;
      }
    }
    .asset{
      &-list{
        &--item{
          display:flex;
          justify-content: space-between;
          padding: 8px 20px 8px 40px;
          min-height: 32px;
          .tit{
            font-size:1.2rem;
            color:#fff;
          }
          .num{
            font-size:1.2rem;
            color:$colPrimary;
          }
        }
      }
    }
  }

  &-right {
    width: calc(100% - 240px);
    padding: 10px;
    background-color: #F4F5F7;
    display: flex;
    position: relative;

    .delete-btn{
      position:absolute;
      right:10px;
      top:15px;
    }

    .insert{
      flex:2;
      display:flex;
      width: calc(100% - 730px);
      height:calc(100vh - 100px);
      position: relative;
      .vb{
        border-radius: 10px;
      }
      &-dim{
        position:fixed;
        right:0;
        bottom:0;
        z-index: 100;
        width:calc(100vw - 250px);
        height:calc(100vh - 80px);
        background-color: rgba(0, 0, 0, .5);
        display:flex;
        align-items: center;
        justify-content: center;
        font-size:2rem;
        color:#fff;
      }
      .left{
        min-width: 460px;
        border-radius: 10px;
        overflow:hidden;
      }
      & >.right {
        flex:1;
        width:380px;
        height: 100%;
        background: #fff;
        border-radius: 10px;
        @media (max-width: 1600px) {
          position: fixed;
          right: -330px;
          bottom: 10px;
          z-index: 1;
          height: calc(100% - 100px);
          border-radius: 10px 0 0 10px;
          box-shadow: 0 0 10px rgba(0, 0, 0, .2);
          .btn-fold{
            width:20px;
            height: 20px;
            background:url(~/static/images/icon/arrow_left.svg)no-repeat center / 13px;
            position:absolute;
            left:15px;
            top:calc(50% - 10px);
            &.active{
              background:url(~/static/images/icon/arrow_right.svg)no-repeat center / 13px;
            }
          }
          &.fold{
            right:0;
          }
        }
      }
    }

    .btn-add {
      font-size: 1.4rem;
      width: 150px;
      height: 40px;
      border: 1px solid #d6d6d6;
      color: #aaa;
      margin: 0 auto;
      display: block;
      margin-top: 20px;
    }

    .preview {
      width:360px;
      height:730px;
      &-tit{
        margin:10px 0 15px -80px;
        .highlight{
          color:$colPrimaryHover;
          font-weight: 500;
          margin:0 5px;
        }
      }
      &-wrap{
        flex:1;
        min-width: 500px;
        height: calc(100vh - 100px);
        background: #fff;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position:relative;
        // &.bottomnone{
        //   height:calc(100vh - 100px);
        // }
        .column-2{
          display:flex;
          .buttons{
            display:flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-left:25px;
            .btn{
              width:60px;
              height:60px;
              background-color:#6a6a6a;
              background-repeat: no-repeat;
              background-position: center;
              border-radius: 30px;
              border:2px solid #fff;
              margin:5px 0;
              &:hover{
                border-color:$colPrimary;
              }
              &.done{
                background-color:$colBlue;
              }
              &.active{
                background-color:$colPrimary;
              }
              &.icon{
                &1{
                  background-image:url(~/static/images/icon/preview_icon3.svg);
                }
                &2{
                  background-image:url(~/static/images/icon/preview_icon2.svg);
                }
                &3{
                  background-image:url(~/static/images/icon/preview_icon4.svg);
                }
                &4{
                  background-image:url(~/static/images/icon/preview_icon1.svg);
                }
                &5{
                  background-image:url(~/static/images/icon/preview_icon5.svg);
                }
              }
            }
          }
        }
      }
      &-mockup{
        width:100%;
        @media (max-width: 800px) {
          display:block;
        }
      }
      &-con{
        width:calc(100% - 30px);
        height: calc(100% - 25px);
        left:15px;
        top:12px;
        border-radius: 30px;
      }
      &-save {
        font-size: 1.2rem;
        margin: 15px 0 10px -70px;

        .time {
          color: $colPrimaryHover;
          font-size: 1.6rem;
          margin-left: 10px;
        }
      }
    }

    .setting {
      flex:2;
      height:100%;
      background: #fff;
      border-radius: 10px;
      position:relative;
      min-width: 500px;
      margin:0 10px;
      @media (max-width: 1600px) {
        margin: 0 50px 0 10px;
      }
      &:last-child{
        margin-right:0;
      }
      // &.bottom-none{
      //   height: calc(100vh - 100px);
      // }
      .setting-con {
        width: 100%;
        padding: 20px;
        & ~ .text-center{
          width: calc(100% - 20px);
        }
        &.setting-image{
          position:absolute;
          left:0;
          top:0;
        }
      }

      &-tit {
        font-size: 1.8rem;
        margin-bottom: 10px;
        display:flex;
        .input-check{
          position:relative;
          top:2px;
          .check-text{
            font-size:1.1rem;
            background-color:#D9D9D9;
            padding:3px 8px 4px;
            border-radius: 5px;
            color:$textCol2;
            margin-left:10px;
          }
          input[type=checkbox]:checked + .check-text{
            background-color:$colPink;
            color:#fff;
          }
        }
        &.sub{
          font-size:1.6rem;
        }
      }

      &-info{
        font-size:1.4rem;
        color:$textCol2;
        font-weight: 300;
        margin-bottom:20px;
      }

      &-scen {
        &--list {
          display: flex;
          align-items: center;
          margin-bottom: 10px;

          .label {
            font-size: 1.4rem;
            margin: 0 20px 0 0;
            white-space: nowrap;
            width:30px;
          }

          .list {
            display: flex;
            margin: 0;
            width: 100%;
            padding: 0 30px;
            &-item {
              .label{
                cursor: pointer;
                width: 50px;
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 1.2rem;
                position:relative;
                z-index: 1;
                .img-wrap{
                  display: block;
                  position:absolute;
                  width:100%;
                  height:100%;
                  left:0;
                  top:0;
                  border: 1px solid #ddd;
                  z-index: 1;
                  border-radius: 10px;
                  overflow: hidden;
                  box-sizing: border-box;
                  img{
                    width:50px;
                  }
                  &.no-image{
                    background:url(~/static/images/icon/people.svg) no-repeat center / 24px;
                  }
                }
                input[type=radio]{
                  appearance: none;
                  width: 0;
                  height: 0;
                  position: absolute;
                  &:checked ~ .img-wrap{
                    border:2px solid $colPrimary;
                    img{
                      position:relative;
                      left:-1px;
                      top:-1px;
                    }
                    &:after{
                      content:"";
                      display:block;
                      width:100%;
                      height:100%;
                      position:absolute;
                      left:0;
                      top:0;
                      background-color:rgba(255, 255, 255, .6);
                    }
                  }
                }
                &.top{
                  align-items: flex-start;
                }
              }
              &.active{
                border:2px solid $colPrimary;
                &:after{
                  content:"";
                  display:block;
                  width:100%;
                  height:100%;
                  position:absolute;
                  left:0;
                  top:0;
                  background-color:rgba(255, 255, 255, .7);
                }
              }
              &.top{
                align-items: flex-start;
              }
            }

            .swiper-button-prev {
              background-image: url(~/static/images/icon/arrow_left.svg);
              background-size: 12px;
              background-color: #fff;
              left: 0;
              padding: 30px 0;
              top: 17px;
            }

            .swiper-button-next {
              background-image: url(~/static/images/icon/arrow_right.svg);
              background-size: 12px;
              background-color: #fff;
              right: 0;
              padding: 30px 0;
              top: 17px;
            }
          }
        }
      }

      &-talk {
        .tab-list {
          width: calc(100% + 40px);
          position: relative;
          left: -20px;
          padding: 0 25px 10px;
          margin-bottom: 10px;

          &--btn {
            font-size: 1.6rem;
            margin-right: 30px;

            &.active {
              color: $colPrimaryHover;
              font-weight: 500;
            }
          }

          &.type2 {
            border-bottom:1px solid #eee;
            .swiper-button-prev{
              background: url(~/static/images/icon/arrow_left.svg) no-repeat center/10px;
              left:0;
              top:11px;
            }
            .swiper-button-next{
              background: url(~/static/images/icon/arrow_right.svg) no-repeat center/10px;
              right:0;
              top:11px;
            }
            .tab-list--item {
              font-size: 1.4rem;
              position: relative;
              width:auto !important;
              margin-right:20px;
              .radio{
                cursor: pointer;
                white-space: nowrap;
                input[type=radio]{
                  appearance: none;
                  width:0;
                  height:0;
                  position:absolute;
                  &:checked + span{
                    position:relative;
                    color:$colPrimary;
                    &:after {
                      content: "";
                      display: block;
                      width: 100%;
                      height: 2px;
                      background-color: $colPrimary;
                      position: absolute;
                      left: 0;
                      bottom: -16px;
                    }
                  }
                }
              }
            }
            &:after{
              content:"";
              display:block;
              width:50px;
              height: 22px;
              background:linear-gradient( to right, transparent, #fff );
              position:absolute;
              right:0;
              top:0;
              z-index: 1;
            }
          }
        }

        .timer{
          display:flex;
          position:relative;
          .btn{
            font-size:1.4rem;
            font-weight: 300;
            border-radius: 5px;
            &.set{
              color:#fff;
              background-color:$colPrimary;
              padding:0 30px 0 30px;
              height:34px;
              background-image:url(~/static/images/icon/clock_wh.svg);
              background-repeat: no-repeat;
              background-position: 7px 50%;
              position:relative;
              width:130px;
              &:after{
                content:"";
                display:block;
                width:10px;
                height: 32px;
                background:url(~/static/images/icon/arrow_sm_wh.svg)no-repeat center;
                position:absolute;
                right:8px;
                top:0;
              }
              &:hover{
                & ~ .btn-wrap{
                  width:100%;
                }
              }
            }
            &-wrap{
              position:absolute;
              left:135px;
              top:-1px;
              width:0;
              overflow: hidden;
              white-space: nowrap;
              transition: width .3s;
              &:hover{
                width:100%;
              }
              .btn{
                margin:0;
                padding:0;
                input[type=checkbox]{
                  appearance: none;
                  width:0;
                  height:0;
                  position:absolute;
                  &:checked ~ .check-text{
                    background-color:$colPrimary;
                    color:#fff;
                    font-weight: 300;
                  }
                }
                .check-text{
                  display: inline-flex;
                  align-items: center;
                  justify-content: center;
                  height:34px;
                  background:#eee;
                  width:60px;
                  border-radius: 5px;
                  font-weight: 400;
                  margin-right: 2px;
                  cursor: pointer;
                }
              }
            }
          }
        }

        .insert {
          &-wrap {
            margin: 15px 0 10px;
            padding: 15px 10px 60px 10px;
            border-radius: 5px;
            border: 1px solid #ccc;
            position: relative;
            .input-text{
              display:block;
              margin-bottom:10px;
              width:100%;
              border:none;
            }

            textarea {
              resize: none;
              font-size: 1.4rem;
              width: 100%;
              padding:2px;

              &::placeholder {
                color: #ccc;
                font-weight: 300;
              }
            }
          }

          &-answer{
            margin-top:25px;
            position:relative;
            input[type=text]{
              height:45px;
              width:calc(100% - 45px);
              border-radius: 5px 0 0 5px;
              border-right:none;
            }
            .link{
              border:1px solid #ccc;
              border-radius: 0 5px 5px 0;
              position:absolute;
              right:0;
              top:0;
              width:45px;
              height:45px;
              background-image:url(~/static/images/icon/link.svg);
              background-repeat: no-repeat;
              background-position: center;
              &.active{
                background-color:$colSub;
                border-color:$colSub;
              }
            }
            .tab-list{
              margin:10px 0 5px;
              border-bottom:1px solid #eee;
              &--btn{
                font-size:1.4rem;
              }
            }
            .set {
              width:calc(100% + 50px);
              position:relative;
              left:-25px;
              padding:5px 25px 10px;
              border-bottom:1px solid #eee;
              height:50px;
              display:none;
              &.active{
                display:block;
              }
              .input-number{
                margin:0 5px;
                position:relative;
                top:1px;
              }
              .text{
                font-size:1.2rem;
                margin-right:5px;
              }
              &.scenario-set{
                position:relative;
                top:1px;
              }
            }
          }

          &-set {
            position: absolute;
            right: 0;
            bottom: 5px;
            display: flex;
            width: 100%;
            justify-content: flex-end;
            padding: 10px;

            .btn {
              width: 116px;
              height: 34px;
              border-radius: 5px;
              font-size: 1.4rem;
              margin: 0 7px;
              outline: none;
              border:1px solid #ccc;

              &.point {
                border-color: $colPinkHover;
                color: $colPinkHover;
                &:hover{
                  box-shadow: 0 0 5px rgba(234, 112, 112, .4);
                }
              }

              &.scenario {
                border-color: $colBlueHover;
                color: $colBlueHover;
                &:hover{
                  box-shadow: 0 0 5px rgba(125, 165, 225, .4);
                }
              }
            }

            .set {
              display: flex;
              font-size: 1.4rem;
              align-items: center;

              &>* {
                margin: 0 3px;
                font-size:1.3rem;
              }

              .save {
                width: 100px;
                height: 34px;
                border-radius: 5px;
                outline: none;
                border: 1px solid $colPink;
                color:$colPink;
                margin:0 7px;
                &:hover{
                  box-shadow: 0 0 5px rgba(234, 112, 112, .4);
                }
              }

              &.scenario-set {
                .save {
                  border: 1px solid $colBlue;
                  color: $colBlue;
                  &:hover{
                    box-shadow: 0 0 5px rgba(125, 165, 225, .4);
                  }
                }
              }
            }
          }
        }

        .label{
          height:0;
          margin:0;
          font-size:1.4rem;
          position: relative;
          top:15px;
        }
      }

      &-copy{
        .input-text{
          width:100%;
          height:38px;
          margin-bottom:10px;
        }
      }

      &-logo{
        .input-wrap{
          margin-bottom:10px;
          .input-select{
            min-width:114px;
            height:38px;
          }
          .input-text{
            width:calc(100% - 250px);
            margin:0 10px;
            height:38px;
          }
          .input-file{
            margin-bottom:0;
            .btn, & ~ .btn{
              height:38px;
            }
          }
        }
      }

      &-terms{
        .input-wrap{
          align-items: center;
          margin-bottom:10px;
          .input-select{
            height:38px;
            min-width: 114px;
          }
          .text{
            font-size:1.4rem;
            margin:0 5px;
            &.red{
              color:$colPink;
              margin-left:15px;
            }
            &.blue{
              color:$colBlue;
              margin-left:15px;
            }
          }
        }
      }

      &-profile{
        .input-wrap{
          margin-bottom:10px;
          .input-select{
            min-width: 114px;
            height: 38px;
          }
          .input-text{
            width:270px;
            height: 38px;
            margin-left:10px;
          }
        }
        .textarea-wrap{
          border:1px solid #ddd;
          border-radius: 5px;
          position:relative;
          padding:10px 10px 60px;
          .input-textarea{
            width:100%;
            border:none;
            padding:0;
          }
          .insert-set{
            position:absolute;
            right:0;
            bottom:5px;
            padding:10px;
            display: flex;
            justify-content: flex-end;
          }
          .btn.sound{
            width: 116px;
            height: 34px;
            color: #fff;
            border-radius: 5px;
            font-size: 1.4rem;
            font-weight: 300;
            margin: 0 7px;
            outline: none;
            background-color: $colPrimary;
          }
        }
      }

      &-color{
        .vc-chrome{
          margin-bottom:20px;
        }
      }

      &-icon{
        .input-select{
          height:40px;
          min-width: 200px;
          margin-bottom:15px;
        }
      }

      &-window{
        .input-wrap{
          margin-bottom:20px;
          align-items: center;
          .input-label{
            width:100px;
          }
          .text{
            font-size:1.2rem;
            margin:0 5px;
            &:nth-child(2){
              margin-left:0;
            }
          }
        }
      }

      .thumbnail{
        &-list{
          display:flex;
          flex-wrap: wrap;
          &--item{
            width:130px;
            height:130px;
            border-radius: 10px;
            border:2px solid $textCol2;
            overflow:hidden;
            margin:0 15px 15px 0;
            cursor: pointer;
            img{
              width:100%;
            }
            &.active{
              border-color:$colPrimary;
              .none{
                background:url(~/static/images/icon/none_active.svg)no-repeat center;
              }
              .sound{
                .btn{
                  background:$colPrimary;
                }
              }
            }
            &.background{
              position:relative;
              img{
                position:absolute;
                left:0;
                top:50%;
                transform:translateY(-50%);
              }
            }
            .none{
              width:100%;
              height:100%;
              background:url(~/static/images/icon/none.svg)no-repeat center;
            }
            .sound{
              width:100%;
              height:100%;
              font-size:1.4rem;
              color:$textCol2;
              position:relative;
              .name{
                width:100%;
                height:100%;
                display:block;
                display:flex;
                align-items: center;
                justify-content: center;
              }
              .btn{
                position:absolute;
                left:0;
                bottom:0;
                width:100%;
                background:$textCol2;
                color:#fff;
                text-align: center;
                height: 30px;
                font-size:1.2rem;
                opacity: 0;
                transition:all .3s;
              }
              &:hover .btn{
                opacity: 1;
              }
            }
          }
        }
      }
    }

    .cut {
      &-list {
        padding:15px 20px 15px 15px;
        width:auto !important;
        &--wrap{
          width:230px;
          min-width:230px;
          height:calc(100vh - 80px);
          background-color:#1D1D1D;
          margin:-10px 0 -10px -10px;
          & + .preview-wrap{
            margin-left:10px;
          }
        }
        &--item {
          display:flex;
          margin-bottom:15px;
          padding-bottom:15px;
          border-bottom:1px solid #444;
          cursor: pointer;
          &.active{
            .thumbnail-wrap img, .info .top .name, .info .text{
              opacity: 1;
            }
          }
          &:last-child{
            border:none;
          }
          .thumbnail{
            margin-right:10px;
            &-wrap{
              width:40px;
              height:40px;
              border-radius: 20px;
              overflow:hidden;
              // border:1px solid $colSub;
              position: relative;
              background-color:#000;
              &:nth-child(2){
                // border-color:$colPrimary;
                margin-top:-15px;
              }
              img{
                width:100%;
                opacity: .5;
              }
            }
          }
          .info{
            width:calc(100% - 40px);
            .top{
              display:flex;
              justify-content: space-between;
              margin-bottom:5px;
              .name{
                color:#fff;
                font-size:1.3rem;
                font-weight: 300;
                opacity: .5;
              }
              .category{
                font-size:1.3rem;
                font-weight: 300;
                &.type{
                  &1{
                    color:#108C7D;
                  }
                  &2{
                    color:$colPink;
                  }
                  &3{
                    color:$colSub;
                  }
                  &4{
                    color:$colBlue;
                  }
                }
              }
            }
            .text{
              color:#fff;
              font-size:1.2rem;
              font-weight: 300;
              display: -webkit-box;
              word-wrap: break-word;
              -webkit-box-orient: vertical;
              overflow: hidden;
              text-overflow: ellipsis;
              opacity: .5;
              &.normal{
                -webkit-line-clamp: 3;
                max-height: 55px;
              }
              &.question{
                -webkit-line-clamp: 1;
                max-height: 18px;
                &:before{
                  content:"Q.";
                }
                &.line2{
                  -webkit-line-clamp: 2;
                  max-height: 36px;
                }
              }
              &.answer{
                -webkit-line-clamp: 1;
                max-height: 18px;
                &:before{
                  content:"A.";
                }
              }
            }
          }
        }
      }
    }
  }
}

.preview {
  position:relative;
  width:369px;
  height:750px;
  &-wrap{
    display:flex;
    align-items: center;
    justify-content: center;
    background:#000;
    height:100vh;
    .web-left{
      background:#fff;
      min-height:730px;
      margin-right:50px;
      padding:20px;
      display:flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size:1.4rem;
      min-width: 360px;
    }
    &.type2{
      background:none;
      height: 100%;
      display:block;
      .preview{
        width:280px;
      }
    }
    @media (max-width: 800px) {
      .web-left{
        display:none;
      }
    }
  }
  &-tit {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 15px;
    font-weight: 500;
  }
  &-mockup {
    pointer-events: none;
    position:absolute;
    z-index: 5;
    left:0;
    @media (max-width: 800px) {
      display:none;
    }
  }
  &-con{
    position: absolute;
    left: 19px;
    top: 15px;
    z-index: 1;
    width: calc(100% - 36px);
    height: calc(100% - 30px);
    border-radius: 40px;
    overflow:hidden;
    // &:after{
    //   content:"";
    //   display:block;
    //   width: 100%;
    //   height: 100%;
    //   position:absolute;
    //   top: 0;
    //   left: 0;
    //   background:#000;
    // }
  }
  &-img {
    img {
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1;
    }
    .background {
      width: 100%;
      height: 100%;
    }
    .character {
      width:100%;
      top: unset;
      bottom:0;
        &-1, &-2{
          width:100%;
          height:100%;
        }
      &-2{
        .character:first-child{
          left:-30%;
        }
        .character:last-child{
          left:unset;
          right:-30%;
        }
      }
    }

    .dialogue {
      position: absolute;
      left: 10%;
      bottom: 35px;
      background-color: rgba(255, 255, 255, .8);
      width: 80%;
      border-radius: 10px;
      padding: 22px 15px 15px;
      font-size: 1.4rem;
      height:120px;
      box-shadow: 0 8px rgba(0, 0, 0, .5);
      z-index: 2;

      .name {
        font-weight: 500;
        background-color: #222;
        padding: 10px 0 11px;
        width:100px;
        text-align: center;
        border-radius: 10px;
        position: absolute;
        left: 0;
        top: -13px;
        color:#fff;
      }

      .text {
        margin:0;
        white-space: pre-line;
        width:100%;
        word-break: break-all;
      }
    }
  }
  &-intro{
    &--background{
      position:absolute;
      width:100%;
      height:100%;
      img{
        width:auto;
        height: 100%;
        position:absolute;
        left:50%;
        top:50%;
        transform: translate(-50%, -50%);
      }
    }
    &--logo{
      position:absolute;
      left:50%;
      top:100px;
      transform:translateX(-50%);
      width:70%;
      img{
        width:100%;
      }
    }
    &--menu{
      position:absolute;
      left:50%;
      transform: translateX(-50%);
      top:250px;
      display:flex;
      flex-direction: column;
      width:55%;
      .btn{
        font-size:1.6rem;
        background:#ccc;
        margin-bottom:20px;
        width:100%;
        padding:15px 0;
      }
    }
    &--copy{
      width:100%;
      padding:0 20px;
      position:absolute;
      left:50%;
      transform:translateX(-50%);
      bottom:30px;
      font-size:1.5rem;
      text-align: center;
    }
    &.dim{
      &-light, &-dark{
        .preview-intro--background{
          &:after{
            content:"";
            display:block;
            width:100%;
            height: 100%;
            background:url(~/static/images/bg_dim.png)no-repeat center / 100% 100%;
            position:absolute;
            left:0;
            top:0;
          }
        }
      }
      &-dark{
        .preview-intro--background{
          &:after{
            filter: brightness(0.5);
          }
        }
      }
      &-blur{
        .preview-intro--background img{
          filter: blur(5px);
        }
      }
    }
    &.diagonal{
      .preview-intro--logo{
        left:20px;
        top:50px;
        transform:none;
      }
      .preview-intro--menu{
        left:unset;
        top:unset;
        right:20px;
        bottom:40px;
        transform: none;
      }
      &-r{
        .preview-intro--logo{
          left:unset;
          right:20px;
          top:unset;
          bottom:50px;
          transform:none;
        }
        .preview-intro--menu{
          left:20px;
          top:40px;
          transform: none;
        }
      }
    }
    &.copy{
      &-left{
        .preview-intro--copy{
          text-align: left;
        }
      }
      &-right{
        .preview-intro--copy{
          text-align: right;
        }
      }
    }
  }
  &-profile{
    &--top{
      position:absolute;
      left:0;
      top:40px;
      background:#ccc;
      width:100%;
      padding:10px;
      text-align: center;
      display:flex;
      align-items: center;
      justify-content: center;
    }
    &--list{
      position:absolute;
      width:90%;
      height:calc(100% - 150px);
      background:#fff;
      left:5%;
      top:100px;
      overflow:auto;
    }
    &.detail{
      .name{
        color:#f00;
        font-size:2rem;
        margin:50px auto;
        text-align: center;
      }
      .character{
        position:absolute;
        left:50%;
        top:50%;
        transform:translate(-50%, -50%);
      }
      .profile{
        background:rgba(255, 255, 255, .8);
        width:90%;
        position:absolute;
        left:5%;
        bottom:5%;
        font-size:1.4rem;
        height:200px;
        padding:20px;
        overflow:auto;
        white-space: pre-line;
        word-break: break-all;
      }
    }
  }
  .answer{
    position:absolute;
    width:80%;
    z-index: 4;
    left:10%;
    top:50%;
    display:flex;
    flex-direction: column;
    transform:translateY(-50%);
    .input-wrap{
      position:relative;
      .input-text{
        padding-right:50px;
      }
      .button{
        position: absolute;
        right: 0;
        top: 0;
        border-radius: 0 10px 10px 0;
        margin: 0;
        height: 34px;
        background:$colPrimary;
        color:#fff;
      }
    }
    &-dim{
      z-index: 3;
      opacity: .5;
    }
    &-multiple{
      .btn{
        background:rgba(255, 255, 255, .8);
        margin:7px 0;
        font-size:1.4rem;
        padding:7px;
        box-shadow: 0 8px 0 rgba(0, 0, 0, .5);
        border-radius: 10px;
      }
    }
    &-subjective{
      .text{
        min-height: 100px;
        background:rgba(255, 255, 255, .8);
        margin-bottom:15px;
        font-size:1.4rem;
        padding:7px 10px;
        box-shadow: 0 8px 0 rgba(0, 0, 0, .5);
        border-radius: 10px;
      }
      .input-text{
        width:100%;
        background:rgba(255, 255, 255, .8);
        box-shadow: 0 8px 0 rgba(0, 0, 0, .5);
        border-radius: 10px;
        border:none;
      }
    }
  }
  @media (max-width: 800px) {
    width:100%;
    height:100%;
    .answer-dim{
      border-radius: 0;
      width:100%;
      height: 100%;
    }
  }
}

.asset {
  &-tit {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 30px;
  }

  &-wrap {
    width: 90%;
    margin: 10px auto 20px;
  }

  &-tab {
    display: flex;
    margin: 0;

    &--tit {
      font-size: 1.4rem;
      padding: 5px 15px;
      background-color: #ddd;
      border-radius: 10px 10px 0 0;

      &.active {
        background-color: #fff;
      }
    }

    &--con {
      background-color: #fff;
      border-radius: 0 10px 10px 10px;
      padding: 10px;
      font-size: 1.4rem;
      height: calc(100vh - 670px);
      min-height: 200px;
    }
  }
}

.cutinsert {
  &-wrap {
    margin-bottom: 10px;
    position: relative;

    .btn-delete {
      position: absolute;
      right: 13px;
      bottom: 10px;
      font-size: 1.4rem;
      color: #f00;
    }
  }

  &-top {
    background: #d6d6d6;
    display: flex;
    align-items: center;
    padding: 4px 10px;

    .input-radio {
      margin-right: 15px;
    }
  }

  &-con {
    border: 1px solid #d6d6d6;
    padding: 10px 30px 0 10px;
    display: flex;
    flex-wrap: wrap;

    .input-label {
      min-width: 110px;
    }

    .input-textarea {
      width: 500px;
    }
  }
}

.input {
  &-wrap {
    display: flex;
  }

  &-label {
    font-size: 1.4rem;
    margin: 0 20px 0 0;
    display: inline-flex;
    align-items: center;
  }

  &-con {
    margin: 0 20px 10px 0;

    .line {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }

      &>* {
        margin-right: 20px;
      }

      .input-label {
        min-width: auto;
      }
    }
  }

  &-radio,
  &-check {
    display: inline-flex;
    position: relative;
    align-items: center;
    margin: 0;
    cursor: pointer;

    input[type=radio],
    input[type=checkbox] {
      width: 0;
      height: 0;
      position: absolute;
      appearance: none;

      &:checked+.radio {
        border-color:$colPrimary;
        & ~ .text{
          color:$colPrimaryHover;
        }
        &:after {
          content: "";
          display: block;
          width: 9px;
          height: 9px;
          background: $colPrimary;
          border-radius: 50%;
          position: absolute;
          left: 2px;
          top: 2px;
        }
      }

      &:checked+.checkbox {
        border-color: $colPrimary;

        &:after {
          content: "";
          display: block;
          width: 100%;
          height: 100%;
          background-color: $colPrimary;
          background-image: url(~/static/images/icon/check_wh.svg);
          background-repeat: no-repeat;
          background-position: center;
          position: absolute;
          left: 0;
          top: 0;
        }
      }
    }

    .check {
      &.radio {
        width: 15px;
        height: 15px;
        background: #fff;
        display: inline-block;
        border-radius: 50%;
        position: relative;
        border:1px solid #666;
      }

      &.checkbox {
        width: 15px;
        height: 15px;
        background: #fff;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 3px;
        position: relative;
      }
    }

    .text {
      font-size: 1.4rem;
      margin-left: 5px;
      &.col-green{
        color:#108C7D;
      }
    }
  }

  &-select {
    height: 34px;
    background: #fff;
    border: 1px solid #ccc;
    font-size: 1.4rem;
    padding: 5px 25px 5px 10px;
    min-width: 50px;
    border-radius: 5px;
    background-image: url('~/static/images/icon/select_arrow.svg');
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: calc(100% - 10px) center;
    outline: none;
    box-sizing: border-box;
  }

  &-file{
    input[type=file]{
      appearance: none;
      width:0;
      height:0;
      position: absolute;
    }
    .btn, & ~ .btn{
      width:116px;
      font-size:1.4rem;
      background-color:$colPrimary;
      color:#fff;
      font-weight: 300;
      border-radius: 5px;
      height:34px;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover{
        color:#fff;
      }
    }
    & ~ .delete{
      background-color:$colPink;
    }
  }

  &-text,
  &-number,
  &-textarea {
    background: #fff;
    border: 1px solid #ccc;
    padding: 5px 10px;
    font-size: 1.4rem;
    outline: none;
    border-radius: 5px;
    height: 34px;
    &::placeholder{
      color:#ccc;
      font-weight: 300;
    }
  }

  &-textarea {
    resize: none;
    height: auto;
  }

  &-text {
    width: 300px;
  }

  &-number {
    width: 70px;
  }
}

.upload{
  &-wrap{
    display:flex;
    padding:0 10px;
  }
  &-spot{
    flex:3;
    padding-right:20px;
    .input-file{
      width:100%;
      height:100%;
      display:flex;
      align-items: center;
      justify-content: center;
      background:url(~/static/images/icon/cloud.svg)no-repeat 50% 45%;
      padding-top:60px;
      border:2px solid $colPrimary;
      border-radius: 10px;
      position:relative;
      overflow:hidden;
      .image-wrap{
        width:100%;
        height:100%;
        background:#fff;
        position:absolute;
        left:0;
        top:0;
        img{
          width:100%;
        }
      }
      span{
        font-size:1.4rem;
        color:$textCol2;
        font-weight: 300;
      }
    }
  }
  &-set{
    flex:5;
    .tit{
      font-size:1.8rem;
      margin-bottom:25px;
      font-weight: 500;
    }
    .sub-tit{
      font-size:1.6rem;
      margin-bottom:5px;
    }
    .scroll{
      height:100px;
      margin-bottom:25px;
      p{
        font-size:1.2rem;
        color:$textCol2;
        word-break: keep-all;
        padding-right:20px;
        font-weight: 300;
      }
    }
    .label{
      display:block;
      font-size:1.4rem;
      color:$textCol2;
      font-weight: 300;
      margin-bottom:10px;
    }
    .input-text{
      width:100%;
      margin-bottom:40px;
    }
    .input-check{
      .text{
        font-size:1.3rem;
        margin-top:-1px;
      }
    }
    .register-btn{
      background:#ccc;
      color:#fff;
      font-size:1.3rem;
      font-weight: 300;
      border-radius: 10px;
      width:100%;
      margin-top:30px;
      height:46px;
      &.active{
        background:$colPrimary;
      }
    }
  }
}
