@charset "utf-8";
@import "variables.scss";

.maker {
  &-header {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #eee;

    &--menu {
      height: 100%;
      display: flex;
      margin: 0;

      &.right {
        .item {
          .icon {
            border-right: none;
            border-left: 1px solid #eee;
          }
        }
      }

      .item {
        height: 100%;

        .icon {
          width: 100px;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          background-repeat: no-repeat;
          background-position: 50% 34%;
          border-right: 1px solid #eee;
          padding-top: 37px;
          font-size: 1.2rem;

          @for $i from 1 to 10 {
            &-#{$i} {
              background-image:url(~/static/images/icon/menu_#{$i}.png);
            }
          }
        }

        &.active {
          .icon {
            background-color: #2f2f2f;

            &-txt {
              color: $colSub;
            }

            @for $i from 1 to 10 {
              &-#{$i} {
                background-image:url(~/static/images/icon/menu_#{$i}_active.png);
              }
            }
          }
        }
      }
    }
  }

  &-wrap {
    display: flex;
    min-height: calc(100vh - 80px);
  }

  &-left {
    background-color: #2f2f2f;
    width: 240px;
    height: calc(100vh - 80px);
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #555;
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
    }

    .scenario,
    .chapter {
      &-modi {
        width: 20px;
        height: 20px;
        background: url(~/static/images/icon/pen.svg)no-repeat center;
        display: inline-block;
        vertical-align: middle;
        opacity: 0;
      }
      &-sound {
        width: 20px;
        height: 20px;
        background: url(~/static/images/icon/sound_wh.svg)no-repeat center / 13px;
        display: inline-block;
        vertical-align: middle;
        opacity: 0;
      }

      &-del {
        width: 16px;
        height: 16px;
        background: url(~/static/images/icon/delete.svg)no-repeat center;
        position: absolute;
        right: 17px;
        top: 9px;
        opacity: 0;
      }

      &-input {
        background-color: #fff;
        padding: 3px 10px;
        font-size: 1.2rem;
        outline: none;
        width: 150px;
        border-radius: 5px;
        position: absolute;
        left: 20px;
        top: 5px;
      }
    }

    .scenario {
      &-list {
        &--item {
          position: relative;
          border-bottom: 1px solid #3f3f3f;

          &.active {
            .scenario-tit {
              color: $colSub;
              background-color: #1E1D1D;
            }
          }
        }

        &--toggle {
          position: absolute;
          right: 15px;
          top: 8px;
          width: 20px;
          height: 20px;
          background: url(~/static/images/icon/arrow.svg)no-repeat center;

          &.active {
            transform: rotate(180deg);
          }
        }
      }

      &-tit {
        display: block;
        padding: 8px 5px 8px 20px;
        font-size: 1.2rem;
        color:#fff;
        .text{
          display:inline-block;
          vertical-align: middle;
          max-width: 120px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          color: #fff;
        }

        &:hover {

          .scenario-modi,
          .chapter-add,
          .scenario-del {
            opacity: 1;
          }
        }
      }

      &-add {
        width: 27px;
        height: 27px;
        background: url(~/static/images/icon/add.svg)no-repeat center;
        margin: 10px auto;
        display: block;
      }

      &-del {
        right: 40px;
      }
    }

    .chapter {
      &-list {
        border-top: 1px solid #3f3f3f;

        &--item {
          position: relative;
        }
      }

      &-tit {
        display: block;
        padding: 8px 40px;
        font-size: 1.2rem;
        color: #fff;
        label{
          display:inline-block;
          vertical-align: middle;;
          max-width: 130px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          color: #fff;
          margin-bottom: 0;
        }

        &:hover {
          background-color: #3f3f3f;

          .chapter-modi,
          .chapter-del,
          .chapter-sound {
            opacity: 1;
          }
        }
      }

      &-input {
        left: 40px;
        top: 5px;
      }

      &-add {
        font-size: 1.8rem;
        line-height: 1;
        vertical-align: middle;
        position: relative;
        top: -2px;
        opacity: 0;
        color: #fff;
      }
    }
  }

  &-right {
    width: calc(100% - 240px);
    overflow-x: auto;
    padding: 10px;
    background-color: #F4F5F7;
    display: flex;
    position: relative;

    .delete-btn{
      position:absolute;
      right:10px;
      top:15px;
    }

    .insert{
      display:flex;
      width: calc(100% - 365px);
      position: relative;
      &-dim{
        position:fixed;
        right:0;
        bottom:0;
        z-index: 100;
        width:calc(100vw - 250px);
        height:calc(100vh - 80px);
        background-color: rgba(0, 0, 0, .5);
        display:flex;
        align-items: center;
        justify-content: center;
        font-size:2rem;
        color:#fff;
      }


      & >.right {
        width: 380px;
        height: 100%;
        background: #fff;
        border-radius: 10px;
        @media (max-width: 1600px) {
          position: fixed;
          right: -330px;
          bottom: 10px;
          z-index: 1;
          height: calc(100% - 100px);
          border-radius: 10px 0 0 10px;
          box-shadow: 0 0 10px rgba(0, 0, 0, .2);
          transition:right .3s;
          .btn-fold{
            width:20px;
            height: 20px;
            background:url(~/static/images/icon/arrow_left.svg)no-repeat center / 13px;
            position:absolute;
            left:15px;
            top:calc(50% - 10px);
            &.active{
              background:url(~/static/images/icon/arrow_right.svg)no-repeat center / 13px;
            }
          }
          &.fold{
            right:0;
          }
        }
      }
    }

    .btn-add {
      font-size: 1.4rem;
      width: 150px;
      height: 40px;
      border: 1px solid #d6d6d6;
      color: #aaa;
      margin: 0 auto;
      display: block;
      margin-top: 20px;
    }

    .preview {
      min-width: 365px;
      height: calc(100vh - 155px);
      background: #fff;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      &.bottomnone{
        height:calc(100vh - 100px);
      }

      &-save {
        font-size: 1.2rem;
        margin-top: 20px;

        .time {
          color: $colPrimary;
          font-size: 1.6rem;
          font-weight: 500;
          margin-left: 10px;
        }
      }
    }

    .setting {
      min-width: 900px;
      width: 900px;
      height: calc(100vh - 155px);
      background: #fff;
      border-radius: 10px;
      margin: 0 10px;
      position:relative;
      overflow-y: auto;
      overflow-x:hidden;
      &.bottom-none{
        height: calc(100vh - 100px);
      }
      & > div{
        padding: 15px 25px 10px 25px;
        border-bottom: 1px solid #eee;
        &:last-child{
          border-bottom:none;
        }
      }

      &-tit {
        font-size: 1.8rem;
        padding-left: 20px;
        background: url(~/static/images/icon/setting.svg)no-repeat left center / 15px;
        margin-bottom: 15px;
        display:flex;
        .input-check{
          .check-text{
            font-size:1.1rem;
            background-color:#D9D9D9;
            padding:2px 10px;
            border-radius: 5px;
            color:$textCol2;
            margin-left:10px;
          }
          input[type=checkbox]:checked + .check-text{
            background-color:$colPink;
            color:#fff;
          }
        }
      }

      &-scen {
        &--list {
          display: flex;
          align-items: center;
          margin-bottom: 10px;

          .label {
            font-size: 1.4rem;
            margin: 0 20px 0 0;
            white-space: nowrap;
            width:30px;
          }

          .list {
            display: flex;
            margin: 0;
            width: 800px;
            padding: 0 30px;
            &-item {
              .label{
                cursor: pointer;
                width: 50px;
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 1.2rem;
                position:relative;
                z-index: 1;
                .img-wrap{
                  display: block;
                  position:absolute;
                  width:100%;
                  height:100%;
                  left:0;
                  top:0;
                  border: 1px solid #ddd;
                  z-index: 1;
                  border-radius: 10px;
                  overflow: hidden;
                  img{
                    width:50px;
                  }
                  &.no-image{
                    background:url(~/static/images/icon/people.svg) no-repeat center / 24px;
                  }
                }
                input[type=radio]{
                  appearance: none;
                  width: 0;
                  height: 0;
                  position: absolute;
                  &:checked ~ .img-wrap{
                    border:2px solid $colPrimary;
                    img{
                      position:relative;
                      left:-1px;
                      top:-1px;
                    }
                    &:after{
                      content:"";
                      display:block;
                      width:100%;
                      height:100%;
                      position:absolute;
                      left:0;
                      top:0;
                      background-color:rgba(255, 255, 255, .6);
                    }
                  }
                }
                &.top{
                  align-items: flex-start;
                }
              }
              &.active{
                border:2px solid $colPrimary;
                &:after{
                  content:"";
                  display:block;
                  width:100%;
                  height:100%;
                  position:absolute;
                  left:0;
                  top:0;
                  background-color:rgba(255, 255, 255, .7);
                }
              }
              &.top{
                align-items: flex-start;
              }
            }

            .swiper-button-prev {
              background-image: url(~/static/images/icon/arrow_left.svg);
              background-size: 12px;
              background-color: #fff;
              left: 0;
              padding: 30px 0;
              top: 17px;
            }

            .swiper-button-next {
              background-image: url(~/static/images/icon/arrow_right.svg);
              background-size: 12px;
              background-color: #fff;
              right: 0;
              padding: 30px 0;
              top: 17px;
            }
          }
        }
      }

      &-talk {
        .tab-list {
          width: 900px;
          position: relative;
          left: -25px;
          padding: 0 25px 10px;
          border-bottom: 1px solid #eee;
          margin-bottom: 10px;

          &--btn {
            font-size: 1.6rem;
            margin-right: 35px;

            &.active {
              color: $colPrimary;
              font-weight: 500;
            }
          }

          &.type2 {
            .swiper-button-prev{
              background: url(~/static/images/icon/arrow_left.svg) no-repeat center/10px;
              left:0;
              top:11px;
            }
            .swiper-button-next{
              background: url(~/static/images/icon/arrow_right.svg) no-repeat center/10px;
              right:0;
              top:11px;
            }
            .tab-list--item {
              font-size: 1.4rem;
              position: relative;
              width:auto !important;
              margin-right:20px;
              .radio{
                cursor: pointer;
                white-space: nowrap;
                input[type=radio]{
                  appearance: none;
                  width:0;
                  height:0;
                  position:absolute;
                  &:checked + span{
                    position:relative;
                    color:$colPrimary;
                    &:after {
                      content: "";
                      display: block;
                      width: 100%;
                      height: 2px;
                      background-color: $colPrimary;
                      position: absolute;
                      left: 0;
                      bottom: -16px;
                    }
                  }
                }
              }
            }
            &:after{
              content:"";
              display:block;
              width:50px;
              height: 22px;
              background:linear-gradient( to right, transparent, #fff );
              position:absolute;
              right:0;
              top:0;
              z-index: 1;
            }
          }
        }

        .insert {
          &-wrap {
            margin-top: 25px;
            padding: 10px 10px 50px 10px;
            border-radius: 5px;
            border: 1px solid #ccc;
            position: relative;
            .input-text{
              display:block;
              margin-bottom:10px;
              width:100%;
              border:none;
            }

            textarea {
              resize: none;
              font-size: 1.4rem;
              width: 100%;

              &::placeholder {
                color: #ccc;
              }
            }
          }

          &-set {
            position: absolute;
            right: 0;
            bottom: 5px;
            display: flex;
            width: 100%;
            justify-content: flex-end;
            padding: 10px;

            .btn {
              width: 116px;
              height: 34px;
              border-radius: 5px;
              font-size: 1.4rem;
              margin: 0 7px;
              outline: none;

              &.timer {
                border-color: $colPrimaryHover;
                color: $colPrimaryHover;
              }

              &.sound {
                border-color: $colPrimaryHover;
                color: $colPrimaryHover;
              }

              &.point {
                border-color: $colPinkHover;
                color: $colPinkHover;
              }

              &.scenario {
                border-color: $colBlueHover;
                color: $colBlueHover;
              }
            }

            .set {
              display: flex;
              font-size: 1.4rem;
              align-items: center;

              &>* {
                margin: 0 3px;
              }

              .save {
                width: 116px;
                height: 34px;
                color: #fff;
                border-radius: 5px;
                font-weight: 300;
                outline: none;
                background-color: $colPink;
              }

              &.scenario-set {
                .save {
                  background-color: $colBlue;
                }
              }
              &.timer-set {
                .save {
                  background-color: $colPrimary;
                }
              }
            }
          }
        }

        .label{
          height:0;
          margin:-10px 10px 0;
          font-size:1.6rem;
          position: relative;
          top:15px;
        }
      }

      &-copy{
        .input-text{
          width:100%;
          height:38px;
          margin-bottom:10px;
        }
      }

      &-logo{
        .input-wrap{
          margin-bottom:10px;
          .input-select{
            min-width:114px;
            height:38px;
          }
          .input-text{
            width:calc(100% - 250px);
            margin:0 10px;
            height:38px;
          }
          .input-file{
            margin-bottom:0;
            .btn, & ~ .btn{
              height:38px;
            }
          }
        }
      }

      &-terms{
        .input-wrap{
          align-items: center;
          margin-bottom:10px;
          .input-select{
            height:38px;
            min-width: 114px;
          }
          .text{
            font-size:1.4rem;
            margin:0 5px;
            &.red{
              color:$colPink;
              margin-left:15px;
            }
            &.blue{
              color:$colBlue;
              margin-left:15px;
            }
          }
        }
      }

      &-profile{
        .input-wrap{
          margin-bottom:10px;
          .input-select{
            min-width: 114px;
            height: 38px;
          }
          .input-text{
            width:270px;
            height: 38px;
            margin-left:10px;
          }
        }
        .textarea-wrap{
          border:1px solid #ddd;
          border-radius: 5px;
          position:relative;
          padding:10px 10px 60px;
          .input-textarea{
            width:100%;
            border:none;
            padding:0;
          }
          .insert-set{
            position:absolute;
            right:0;
            bottom:5px;
            padding:10px;
            display: flex;
            justify-content: flex-end;
          }
          .btn.sound{
            width: 116px;
            height: 34px;
            color: #fff;
            border-radius: 5px;
            font-size: 1.4rem;
            font-weight: 300;
            margin: 0 7px;
            outline: none;
            background-color: $colPrimary;
          }
        }
      }

      &-color{
        .vc-chrome{
          margin-bottom:20px;
        }
      }

      &-icon{
        .input-select{
          height:40px;
          min-width: 200px;
          margin-bottom:15px;
        }
      }

      &-window{
        .input-wrap{
          margin-bottom:20px;
          align-items: center;
          .input-label{
            width:100px;
          }
          .text{
            font-size:1.2rem;
            margin:0 5px;
            &:nth-child(2){
              margin-left:0;
            }
          }
        }
      }
    }

    .cut {
      width: 1325px;
      position: fixed;
      left: 250px;
      bottom: 0;
      background: #fff;
      border-radius: 10px 10px 0 0;
      padding: 15px;
      box-shadow: 0 0 10px rgba(0, 0, 0, .2);
      z-index: 5;
      @media (max-width: 2000px) {
        width: 1275px;
      }

      &-tit {
        position: relative;
        font-size: 1.6rem;
        border-bottom: 1px solid #eee;
        padding-bottom: 15px;

        .chapter {
          font-size: 1.2rem;
          color: $textCol2;
          font-weight: 300;

          &:after,
          &:before {
            content: "~";
            display: inline-block;
            margin: 0 5px;
          }
        }

        .fold-btn {
          position: absolute;
          right: 2px;
          top: 0;
          z-index: 10;

          .text {
            font-size: 1.4rem;
            color: #1E3BB3;
          }
        }
      }

      &-list {
        padding-top: 50px;
        margin: -50px 0 0 0;

        .swiper-button-prev{
          left:unset;
          right: 70px;
          top: 22px;
          background: url(~/static/images/icon/arrow_left.svg) no-repeat center/15px
        }
        .swiper-button-next{
          right: 40px;
          top: 22px;
          background: url(~/static/images/icon/arrow_right.svg) no-repeat center/15px
        }

        &--item {
          border-right: 1px dashed #eee;
          margin: 15px 0 5px;
          padding: 0 15px;
          width: 300px;
          position:relative;
          cursor: pointer;

          .active-sign{
            display:block;
            width:30px;
            height:22px;
            border-radius: 5px;
            background-color: #fff;
            background-image:url(~/static/images/icon/play.svg);
            background-repeat: no-repeat;
            background-position: center;
            position:absolute;
            left:calc(50% - 15px);
            top:-10px;
            z-index: 2;
          }

          .tit {
            font-size: 1.4rem;
            font-weight: 500;
          }

          .preview-list {
            display: flex;
            margin: 8px 10px;

            &--item {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              overflow: hidden;
              border: 1px solid #aaa;
              margin-left: -10px;
              background: #eee;
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: 1.2rem;

              img {
                width: 100%;
              }
            }
          }

          .state {
            .badge {
              display: inline-block;
              font-size: 1.1rem;
              padding: 3px 7px 4px;
              border-radius: 5px;
              color: #fff;
              font-weight: 300;
              min-width: 60px;
              margin: 2px;

              &.text-bg-primary {
                background-color: $colPrimary;
              }

              &.text-bg-red {
                background-color: #EF6A6A;
              }

              &.text-bg-pink {
                background-color: #E8A1A1;
              }
            }

            .text {
              font-size: 1.1rem;
              color: $textCol2;
              margin-right: 18px;
              position: relative;
              display: inline-block;
              font-weight: 300;

              &:after {
                content: "";
                display: block;
                width: 3px;
                height: 3px;
                border-radius: 50%;
                background-color: #D9D9D9;
                position: absolute;
                right: -12px;
                top: 7px;
              }

              &:last-child:after {
                display: none;
              }
            }
          }

          .text-preview {
            font-size: 1.2rem;
            color: $textCol2;
            display: -webkit-box;
            word-wrap: break-word;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            height: 70px;
            margin-top: 5px;
            font-weight: 300;
            .dot{
              margin:0 3px;
              display: inline-block;
              width:3px;
              height:3px;
              border-radius: 50%;
              background-color:#D9D9D9;
              vertical-align: middle;
            }
            .red{
              color:$colPink;
              font-weight: 500;
              width:18px;
              display:inline-block;
            }
            .blue{
              color:$colBlue;
              font-weight: 500;
              width:18px;
              display:inline-block;
            }
          }

          .image-list{
            width:100%;
            height:213px;
            position:relative;
            border-radius: 10px;
            overflow: hidden;
            img{
              width:100%;
              position:absolute;
              left:0;
              top: 50%;
              transform: translateY(-50%);
              &.top{
                top:0;
                transform: none;
              }
            }
            &:after{
              content:"";
              display:block;
              width:100%;
              height:100%;
              position:absolute;
              left:0;
              top:0;
              background-color: rgba(0, 0, 0, .7);
            }
            &--top{
              position:absolute;
              z-index: 1;
              padding:13px;
              left:0;
              top:0;
              .name, .text{
                color:#fff;
                font-size:1.2rem;
                font-weight: 300;
              }
              .name{
                font-size:1.4rem;
                font-weight: 500;
                margin-right:10px;
              }
            }
            &--con{
              position:absolute;
              z-index: 1;
              color:#fff;
              left:0;
              top:35px;
              padding:13px;
              font-size:1.2rem;
              font-weight: 300;
              display: -webkit-box;
              word-wrap: break-word;
              -webkit-line-clamp: 4;
              -webkit-box-orient: vertical;
              overflow: hidden;
              text-overflow: ellipsis;
              height: 83px;
            }
          }

          &.type2{
            padding:0 5px;
          }
        }

        .swiper-wrapper{
          height:216px;
        }
      }

      &-add {
        width: 27px;
        height: 27px;
        background: url(~/static/images/icon/add_color.svg)no-repeat center;
        margin: 20px auto;
        display: block;
      }

      &.fold {
        background: #84ACE9;
        padding: 15px 15px 0 15px;
        box-shadow: none;
        transition:background-color 0.2s .3s;

        .cut-tit {
          border-bottom: none;

          .scenario,
          .chapter,
          .fold-btn .text {
            color: #fff;
            font-weight: 300;
          }
        }
      }
    }
  }
}

.preview {
  position:relative;
  width:369px;
  height:750px;
  &-wrap{
    display:flex;
    align-items: center;
    justify-content: center;
    background:#000;
    height:100vh;
    .web-left{
      background:#fff;
      min-height:730px;
      margin-right:50px;
      padding:20px;
      display:flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size:1.4rem;
      min-width: 360px;
    }
    @media (max-width: 800px) {
      .web-left{
        display:none;
      }
    }
  }
  &-tit {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 15px;
    font-weight: 500;
  }
  &-mockup {
    pointer-events: none;
    position:absolute;
    z-index: 5;
    left:0;
    @media (max-width: 800px) {
      display:none;
    }
  }
  &-con{
    position: absolute;
    left: 19px;
    top: 15px;
    z-index: 1;
    width: calc(100% - 36px);
    height: calc(100% - 30px);
    border-radius: 40px;
    overflow:hidden;
    // &:after{
    //   content:"";
    //   display:block;
    //   width: 100%;
    //   height: 100%;
    //   position:absolute;
    //   top: 0;
    //   left: 0;
    //   background:#000;
    // }
  }
  &-img {
    img {
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1;
    }
    .background {
      width: 100%;
      height: 100%;
    }
    .character {
      width:100%;
      top: unset;
      bottom:0;
        &-1, &-2{
          width:100%;
          height:100%;
        }
      &-2{
        .character:first-child{
          left:-30%;
        }
        .character:last-child{
          left:unset;
          right:-30%;
        }
      }
    }

    .dialogue {
      position: absolute;
      left: 10%;
      bottom: 35px;
      background-color: rgba(255, 255, 255, .8);
      width: 80%;
      border-radius: 10px;
      padding: 22px 15px 15px;
      font-size: 1.4rem;
      height:120px;
      box-shadow: 0 8px rgba(0, 0, 0, .5);
      z-index: 2;

      .name {
        font-weight: 500;
        background-color: #222;
        padding: 3px 0 4px;
        width:100px;
        text-align: center;
        border-radius: 10px;
        position: absolute;
        left: 0;
        top: -13px;
        color:#fff;
      }

      .text {
        margin:0;
        white-space: pre-line;
        width:100%;
        word-break: break-all;
      }
    }
  }
  &-intro{
    &--background{
      position:absolute;
      width:100%;
      height:100%;
      &:after{
        content:"";
        display:block;
        width:100%;
        height: 100%;
        background:url(~/static/images/bg_dim.png)no-repeat center / 100% 100%;
        position:absolute;
        left:0;
        top:0;
      }
      img{
        width:auto;
        height: 100%;
        position:absolute;
        left:50%;
        top:50%;
        transform: translate(-50%, -50%);
      }
    }
    &--logo{
      position:absolute;
      left:50%;
      top:100px;
      transform:translateX(-50%);
      width:70%;
      img{
        width:100%;
      }
    }
    &--menu{
      position:absolute;
      left:50%;
      transform: translateX(-50%);
      top:250px;
      display:flex;
      flex-direction: column;
      width:70%;
      .btn{
        font-size:1.6rem;
        background:#ccc;
        margin-bottom:20px;
        width:100%;
        padding:15px 0;
      }
    }
    &--copy{
      position:absolute;
      left:50%;
      transform:translateX(-50%);
      bottom:30px;
      font-size:1.5rem;
    }
  }
  &-profile{
    &--top{
      position:absolute;
      left:0;
      top:40px;
      background:#ccc;
      width:100%;
      padding:10px;
      text-align: center;
      display:flex;
      align-items: center;
      justify-content: center;
    }
    &--list{
      position:absolute;
      width:90%;
      height:calc(100% - 150px);
      background:#fff;
      left:5%;
      top:100px;
      overflow:auto;
    }
    &.detail{
      .name{
        color:#f00;
        font-size:2rem;
        margin:50px auto;
        text-align: center;
      }
      .character{
        position:absolute;
        left:50%;
        top:50%;
        transform:translate(-50%, -50%);
      }
      .profile{
        background:rgba(255, 255, 255, .8);
        width:90%;
        position:absolute;
        left:5%;
        bottom:5%;
        font-size:1.4rem;
        height:200px;
        padding:20px;
        overflow:auto;
        white-space: pre-line;
        word-break: break-all;
      }
    }
  }
  .answer{
    position:absolute;
    width:80%;
    z-index: 4;
    left:10%;
    top:50%;
    display:flex;
    flex-direction: column;
    transform:translateY(-50%);
    &-dim{
      z-index: 3;
      opacity: .5;
    }
    &-multiple{
      .btn{
        background:rgba(255, 255, 255, .8);
        margin:7px 0;
        font-size:1.4rem;
        padding:7px;
        box-shadow: 0 8px 0 rgba(0, 0, 0, .5);
        border-radius: 10px;
      }
    }
    &-subjective{
      .text{
        min-height: 100px;
        background:rgba(255, 255, 255, .8);
        margin-bottom:15px;
        font-size:1.4rem;
        padding:7px 10px;
        box-shadow: 0 8px 0 rgba(0, 0, 0, .5);
        border-radius: 10px;
      }
      .input-text{
        width:100%;
        background:rgba(255, 255, 255, .8);
        box-shadow: 0 8px 0 rgba(0, 0, 0, .5);
        border-radius: 10px;
        border:none;
      }
    }
  }
  @media (max-width: 800px) {
    width:100%;
    height:100%;
    .answer-dim{
      border-radius: 0;
      width:100%;
      height: 100%;
    }
  }
}

.asset {
  &-tit {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 30px;
  }

  &-wrap {
    width: 90%;
    margin: 10px auto 20px;
  }

  &-tab {
    display: flex;
    margin: 0;

    &--tit {
      font-size: 1.4rem;
      padding: 5px 15px;
      background-color: #ddd;
      border-radius: 10px 10px 0 0;

      &.active {
        background-color: #fff;
      }
    }

    &--con {
      background-color: #fff;
      border-radius: 0 10px 10px 10px;
      padding: 10px;
      font-size: 1.4rem;
      height: calc(100vh - 670px);
      min-height: 200px;
    }
  }
}

.cutinsert {
  &-wrap {
    margin-bottom: 10px;
    position: relative;

    .btn-delete {
      position: absolute;
      right: 13px;
      bottom: 10px;
      font-size: 1.4rem;
      color: #f00;
    }
  }

  &-top {
    background: #d6d6d6;
    display: flex;
    align-items: center;
    padding: 4px 10px;

    .input-radio {
      margin-right: 15px;
    }
  }

  &-con {
    border: 1px solid #d6d6d6;
    padding: 10px 30px 0 10px;
    display: flex;
    flex-wrap: wrap;

    .input-label {
      min-width: 110px;
    }

    .input-textarea {
      width: 500px;
    }
  }
}

.input {
  &-wrap {
    display: flex;
  }

  &-label {
    font-size: 1.4rem;
    margin: 0 20px 0 0;
    display: inline-flex;
    align-items: center;
  }

  &-con {
    margin: 0 20px 10px 0;

    .line {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }

      &>* {
        margin-right: 20px;
      }

      .input-label {
        min-width: auto;
      }
    }
  }

  &-radio,
  &-check {
    display: inline-flex;
    position: relative;
    align-items: center;
    margin: 0;
    cursor: pointer;

    input[type=radio],
    input[type=checkbox] {
      width: 0;
      height: 0;
      position: absolute;
      appearance: none;

      &:checked+.radio {
        &:after {
          content: "";
          display: block;
          width: 9px;
          height: 9px;
          background: #aaa;
          border-radius: 50%;
          position: absolute;
          left: 3px;
          top: 3px;
        }
      }

      &:checked+.checkbox {
        border-color: $colPrimary;

        &:after {
          content: "";
          display: block;
          width: 100%;
          height: 100%;
          background-color: $colPrimary;
          background-image: url(~/static/images/icon/check_wh.svg);
          background-repeat: no-repeat;
          background-position: center;
          position: absolute;
          left: 0;
          top: 0;
        }
      }
    }

    .check {
      &.radio {
        width: 15px;
        height: 15px;
        background: #fff;
        display: inline-block;
        border-radius: 50%;
        position: relative;
      }

      &.checkbox {
        width: 15px;
        height: 15px;
        background: #fff;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 3px;
        position: relative;
      }
    }

    .text {
      font-size: 1.4rem;
      margin-left: 5px;
    }
  }

  &-select {
    height: 34px;
    background: #fff;
    border: 1px solid #ccc;
    font-size: 1.4rem;
    padding: 5px 30px 5px 10px;
    min-width: 50px;
    border-radius: 5px;
    background-image: url('~/static/images/icon/select_arrow.svg');
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: calc(100% - 10px) center;
    outline: none;
  }

  &-file{
    input[type=file]{
      appearance: none;
      width:0;
      height:0;
      position: absolute;
    }
    .btn, & ~ .btn{
      width:116px;
      font-size:1.4rem;
      background-color:$colPrimary;
      color:#fff;
      font-weight: 300;
      border-radius: 5px;
      height:34px;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover{
        color:#fff;
      }
    }
    & ~ .delete{
      background-color:$colPink;
    }
  }

  &-text,
  &-number,
  &-textarea {
    background: #fff;
    border: 1px solid #ccc;
    padding: 5px 10px;
    font-size: 1.4rem;
    outline: none;
    border-radius: 5px;
    height: 34px;
    &::placeholder{
      color:#ccc;
      font-weight: 300;
    }
  }

  &-textarea {
    resize: none;
    height: auto;
  }

  &-text {
    width: 300px;
  }

  &-number {
    width: 70px;
  }
}
